/*-------------------------------------------CLASSES-----------------------------------------------*/
body{
    background: #f8f9fa;
    margin: 0;
    padding: 0;
}
/*--------------------------------------------TAGS-------------------------------------------------*/


.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    font-family: 'Montserrat';
}

.logo{
  width: 40px;
  height: 40px;
}

.navbar-brand img:hover {
    transform: scale(1.05); /* Pequeno efeito de zoom no logo ao passar o mouse */
}

.nav.justify-content-center{
    display: flex;
    gap: 20px;
}

.nav-link{
    color: black;
    font-family: 'Montserrat';
    font-size: 17px;
}

.logo{
  margin-right: 80px;
  width: auto;
  height: 150px; 
}

@media (max-width: 786px) {
  .logo {
    height: 90px;
    width: auto;
  }
}

/*---MENU INSTITUCIONAL---*/
.Institucional,
.Institucional .nav-link{
  width: 100%;
  
  margin-bottom: 40px;
  position: relative;
  color: white;
}

.Institucional .nav-link::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.Institucional .nav-link:hover::after {
  width: 100%;
}

@media (max-width: 786px) {  /*menu institucional mobile*/

  .navbar-nav .nav-link {
    display: inline-block; /* IMPORTANTE */
    position: relative;
    padding: 10px 0;
  }

  .navbar-nav {
    text-align: center;
  }

  .institucional .nav-link::after {
    left: 50%;
    transform: translateX(-50%);
    width: 0;
  }

  .institucional .nav-link:hover::after {
    width: 60%; /* controla o tamanho do hover */
  }
}

.menu-idioma .dropdown-menu{
margin: 0;                 /* remove espaçamento externo */
padding: 0;

}


@media (max-width: 786px) { /*menu idioma mobile*/

  /* container do idioma */
  .menu-idioma {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

  /* dropdown */
  .menu-idioma .dropdown-menu {
    position: static;        /* impede cortar a tela */
    max-height: 200px;
    overflow-y: auto;
    border: none; /* Deixa o visual mais limpo dentro do menu escuro */
    background-color: rgba(255,255,255,0.05); /*  destaque no fundo escuro */
    float: none;
    width: 100%;          /* alinhado com o menu */
    text-align: center;
  }

  .menu-idioma .dropdown-item {
    padding: 6px 0;
    font-size: 14px;
  }
}

/*---MENU CATALOGO---*/
.Catalogo,
.Catalogo .nav-link{
  position: relative;
  color: black;
}

.Catalogo .nav-link::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 6px;
  width: 0;
  height: 2px;
  background: #ff6600;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.Catalogo .nav-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {    /*menu catalogo mobile*/
  .Catalogo {
    display: flex !important;
    flex-wrap: nowrap !important; /* Impede que os itens quebrem linha */
    overflow-x: auto;            /* Ativa o scroll horizontal */
    white-space: nowrap;         /* Mantém o texto em uma linha só */
    -webkit-overflow-scrolling: touch; /* Scroll suave no iOS */
     padding: 10px 5px;
    justify-content: flex-start !important; /* Alinha à esquerda para o scroll */
  }

  .Catalogo .nav-item {
    flex: 0 0 auto; /* Impede que os itens encolham */
  }

    /* Esconde a barra de scroll para ficar mais limpo */
  .Catalogo::-webkit-scrollbar {
     display: none;
    }
}

/*---Fim---*/

/*Slide de fundo*/

.main-bg{
    position: relative; /*para não fugir do main*/
    margin-top: 60px ;
    min-height: 100vh;
    overflow: hidden;
}

.bg-slider{
    
  position: absolute;
  inset: 0;
  background-image: url("../img/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.bg-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}


.destaques{
 display: flex;
 align-items: center;
 text-align: center;
 margin: 2rem 0;
 font-family: 'Montserrat';
 font-weight: 500;
 color: black; /* Cor da palavra */
 font-weight: bold;
 letter-spacing: 2px; /* Deixa a palavra com um estilo mais moderno */
}

.destaques::after{
   content: "";
    flex: 1;
    height: 2px;
    /* Gradiente: Laranja para Transparente */
    background: linear-gradient(to left, transparent, #ff6600);
    margin-left: 20px;
}

.destaques::before{
    content: "";
    flex: 1;
    height: 2px;
    /* Gradiente: Transparente para Laranja */
    background: linear-gradient(to right, transparent, #ff6600);
    margin-right: 20px;
}


/*MEIO*/

.hero {
  display: flex;
  color: white;
  margin: 0;
  margin-top: 40px;
  position: relative;  /* permite overlay absoluto */
  height: 520px;     /* controla o tamanho do hero */
  background-image: url("../img/hero.png");
  background-size: cover;  /* cobre toda a área */
  background-position: right center;  /* foco nos kimonos */
  background-repeat: no-repeat;
}

.hero::before {
  position: absolute;
  inset: 0; 
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.3)
  );
  z-index: 0;
}

.hero-content{
  z-index: 1;
  margin-top: 60px;
  margin-left: 80px;
}

.hero-content h1{
 
  font-weight: 700;
  font-size: 3rem;
}

.hero-content p{
  font-weight: 600;
  font-size: 28px;
  
}

.btn-hero{
  background-color: #ff6600;
  color: white;
  font-size: 18px;
  padding: 8px 30px;
}

/*SEÇÃO DESTAQUES*/

.card-img-top{
  display: block;
  width: auto;
  height: 230px;
}

.card-title{
  font-weight: 600;
}

.cart-icon{
color: #ff6600;
font-size: 25px;
display: inline-block; /* necessário pro transform */
transition: transform 0.25s ease;
  
}

.cart-icon:hover{
  color: #ff6600;
  transform: scale(1.15) translateY(-2px);
}

.card-text{
  font-weight: 600;
}

.desconto {
  font-weight: 700;
  background-color: #ff6600;
  position: absolute;
  width: 55px;
  height: 20px;
  top: 10px;
  left: 10px;
  z-index: 1;
}

